@page
@model RazorPizzaDoma.Pages.Checkout.CheckoutModel
@{
}

<h1>Your order!</h1>
@{
    var imagePath = "~/images/Pizzas/" + (@Model.ImageTitle + ".png");
}
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img src=@imagePath class="w-100" asp-append-version="true" /> @*asp-append-versino="true" kdyz se zmeni obrazek pizzy, nemusi se refresovat stranka aby se zmena projevila*@
        <p>Your order for the @Model.PizzaName Pizza is ready!</p> @*proc jen @Model? to je slozka model?*@
        <p>Total price for your order is: @Model.PizzaPrice kč</p> @*nebo to je model tohoto view dokumentu?*@
        <br/>
        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm Order </a>
    </div>
</div>